.header {
    margin-left: 40px;
}
.header img {
    float: left;
    width: 60px;
}

.header h1 {
    position: relative;
    top: 12px;
    left: 10px;
}

.header a, a:hover, a:focus, a:active {
    text-decoration: none;
}

h1 {
    font-family: 'Bungee Outline', cursive;
    color: #b62828;
}

article {
    padding-top: 70px;
    width: 70%;
    margin: 0 auto;
    padding: 2em 0.5em 0.5em;
    color: #666;
}

li a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #b62828;
}
