.header {
    margin-left: 40px;
}
.header img {
    float: left;
    width: 60px;
}

.header h1 {
    position: relative;
    top: 12px;
    left: 10px;
}

.header a, a:hover, a:focus, a:active {
    text-decoration: none;
}

h1 {
    font-family: 'Bungee Outline', cursive;
    color: #b62828;
}

article {
    padding-top: 70px;
}

article h1 {
    text-align: center;
}
